@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

* {
    font-family: 'KoHo', 'Nunito+Sans', sans-serif;
}

:root {
    --black: #000000;
    --white: #ffffff;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(#101010, #323232);
}

.a-link {
    color: var(--white);
    text-decoration: none;
}

.div-aling-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem {
    border-radius: 100%;
    margin: 150px 0 50px 0;
}

.label {
    color: var(--white);
}

.apresentacao-titulo {
    font-size: 1.8em;
    margin-top: 120px;
    margin-left: 30px;
}

.apresentacao-texto {
    margin-left: 30px;
    font-size: 1.2em;
}

/* O container geral define a perspectiva */
.flip-container {
    perspective: 1px;
}

    /* vira os containers frente e verso quando o mouse passa em cima */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}

/* define a velocidade da transição */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* esconde o verso durante a animação */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* frente posicionada sobre o verso */
.front {
    z-index: 2;
}

/* verso inicialmente escondido */
.back {
    transform: rotateY(180deg);
}