@page
@model Portfolio.Pages.HabilidadesModel
@{
}

<div id="habilidades" class="pt-5">
    <div class="mt-5 text-center label">
        <h3>Conhecimentos e Tecnologias que Trabalho</h3>
    </div>
    <div class="mt-5 mb-5">
        <div class="row display-center">
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label text-center">.NET</h6>
                </div>
            </div>
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">RAZOR</h6>
                </div>
            </div>
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">BLAZOR</h6>
                </div>
            </div>
        </div>
        <div class="row display-center">
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">SQL SERVER</h6>
                </div>
            </div>
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">ORACLE</h6>
                </div>
            </div>
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">MYSQL</h6>
                </div>
            </div>
        </div>
        <div class="row display-center">
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">VISUAL STUDIO</h6>
                </div>
            </div>
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">PHOTOSHOP</h6>
                </div>
            </div>
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">CORELDRAW</h6>
                </div>
            </div>
        </div>
        <div class="row display-center">
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label text-center">VISUAL STUDIO</h6>
                </div>
            </div>
        </div>
    </div>
</div>