@page
@model IndexModel
@{
    ViewData["Title"] = "Portfolio";
}

<div id="inicio">
    <div class="div-aling-flex-center">
        <div class="row div-aling-flex-center">
            <div class="col-md-2 p-0">
                <img class="imagem" src="~/img/image.jpg" />
            </div>
            <div class="col-md-5 p-0">
                <div class="row">
                    <h1 class="label apresentacao-titulo">Olá, eu sou o tech Wallyson</h1>
                </div>
                <div class="row mt-2">
                    <span class="label apresentacao-texto">
                        Sou desenvolvedor de software com sólidos conhecimentos em .NET Framework, CQRS, SQL Oracle e serviços. Especializado em criar soluções eficientes e escaláveis, utilizando C#, ASP.NET e MVC.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="projetos">
    <div class="container mt-5">
        <div class="row">
            <div class="div-aling-flex-center">
                <div class="card-flex">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <img src="~/img/git-front.png" class="img-icones" />
                            </div>
                            <div class="back">
                                <div class=" pt-3">
                                    <a class="a-link textos">
                                        GitHub
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <img src="~/img/git-front.png" class="img-icones" />
                            </div>
                            <div class="back">
                                <div class=" pt-3">
                                    <a class="a-link textos">
                                        GitHub
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="projetos">
</div>