@page
@model IndexModel
@{
    ViewData["Title"] = "Portfolio";
}

<div id="inicio">
    <div class="div-aling-flex-center">
        <div class="row div-aling-flex-center">
            <div class="col-md-3">
                <img class="imagem" src="~/img/image.jpg" />
            </div>
            <div class="col-md-5 ms-5">
                <div class="row">
                    <h1 class="label apresentacao-titulo">Olá, eu sou o tech Wallyson</h1>
                </div>
                <div class="row mt-2">
                    <span class="label apresentacao-texto">
                        Sou desenvolvedor de software com sólidos conhecimentos em C#, CQRS e SQL Oracle. Especializado em criar soluções eficientes e escaláveis, utilizando C# e .NET.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="projetos">
    <div class="container mt-5">
        <div class="text-center label mb-4">
            <h3>Colaborações para Comunidade</h3>
        </div>
        <div class="row">
            <div class="div-aling-flex-center">
                <div class="card-flex">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <img src="~/img/git-front.png" class="img-icones" />
                            </div>
                            <div class="back">
                                <div class=" pt-3">
                                    <a class="a-link textos" href="https://github.com/wallysonnabarro">
                                        GitHub
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <img src="~/img/linkedin-front.png" class="img-icones" />
                            </div>
                            <div class="back">
                                <div class=" pt-3">
                                    <a class="a-link textos" href="https://www.linkedin.com/pulse/design-de-software-em-camadas-uma-abordagem-wallyson-nabarro-8kowc">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="habilidades" class="pt-5">
    <div class="mt-5 text-center label">
        <h3>Conhecimentos e Tecnologias que Trabalho</h3>
    </div>
    <div class="mt-5 mb-5">
        <div class="row display-center">
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label text-center">.NET</h6>
                </div>
            </div>
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">RAZOR</h6>
                </div>
            </div>
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">BLAZOR</h6>
                </div>
            </div>
        </div>
        <div class="row display-center">
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">SQL SERVER</h6>
                </div>
            </div>
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">ORACLE</h6>
                </div>
            </div>
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">MYSQL</h6>
                </div>
            </div>
        </div>
        <div class="row display-center">
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">DOCKER</h6>
                </div>
            </div>
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">MICRO-SERVIÇO</h6>
                </div>
            </div>
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label  text-center">RABBITMQ</h6>
                </div>
            </div>
        </div>
        <div class="row display-center">
            <div class="col-md-2 m-1 p-0">
                <div class="card-conhecimentos">
                    <h6 class="label text-center">VISUAL STUDIO</h6>
                </div>
            </div>
        </div>
    </div>
</div>