@page
@model IndexModel
@{
    ViewData["Title"] = "Portfolio";
}

<div id="inicio">
    <div class="div-aling-flex-center">
        <div class="row div-aling-flex-center">
            <div class="col-md-4 p-0">
                <img class="imagem" src="~/img/wal-portf.jpg" />
            </div>
            <div class="col-md-5 ms-5">
                <div class="row">
                    <h1 class="label apresentacao-titulo">Olá, eu sou o tech Wallyson</h1>
                </div>
                <div class="row mt-2">
                    <span class="label apresentacao-texto">
                        Sou desenvolvedor de software com sólidos conhecimentos em C#, CQRS e SQL Oracle. Especializado em criar soluções eficientes e escaláveis, utilizando C# e .NET.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="text-center label mb-4">
        <h3>Colaborações para Comunidade</h3>
    </div>
    <div class="row">
        <div class="div-aling-flex-center">
            <div class="card-flex">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <img src="~/img/git-front.png" class="img-icones" />
                        </div>
                        <div class="back">
                            <div class=" pt-3">
                                <a class="a-link textos" href="https://github.com/wallysonnabarro">
                                    GitHub
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <img src="~/img/linkedin-front.png" class="img-icones" />
                        </div>
                        <div class="back">
                            <div class=" pt-3">
                                <a class="a-link textos" href="https://www.linkedin.com/pulse/design-de-software-em-camadas-uma-abordagem-wallyson-nabarro-8kowc">
                                    LinkedIn
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
